version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.13.4

    working_directory: /go/src/github.com/netsys-lab/bittorrent-over-scion
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - run: go test -v ./...