# SPDX-FileCopyrightText:  2019 NetSys Lab
# SPDX-License-Identifier: GPL-3.0-only
version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.13.4

    working_directory: /go/src/github.com/martenwallewein/torrent-client
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - run: go test -v ./...
